body {
    margin: 0;
    padding: 0;
    
}

header {
    display: flex;
    
}
.nav-bar {
    width: 100%;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    padding: 0px 100px;
    max-height: 90px;
}

.nav-box {
    padding: 10px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.btn-log {
    border: 1px solid black;
    border-radius: 8px;
    font-family: Open Sans;
    background-color: transparent;
    color: #39434D;
    padding: 6px 12px;
    font-size: 16px;
}

.btn-log:hover {
    border: 1px solid black;
    border-radius: 8px;
    font-family: Open Sans;
    background-color: #F0F2F2;
    color: #39434D;
    padding: 8px 14px;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.btn-signup {
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: Open Sans;
    background-color: #E21B70;
    color: white;
    padding: 6px 14px;
    font-size: 16px;
}

.btn-signup:hover {
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: Open Sans;
    background-color: #C21760;
    color: white;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center ;
    margin-left: 850px;
}


.language {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: transparent;
    padding: 8px 10px;
}

.language:hover {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #F0F2F2;
    padding: 8px 10px;
    transition: ease-in-out 0.2s;
}

.cart-icon {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
}

.cart-icon:hover {
    border: 1px solid transparent;
    background-color: #F0F2F2;
    padding: 10px;
    border-radius: 50%;
}




.address-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    max-width: 800px;
    height: 85px;
    padding: 0px 25px;
    border-radius: 15px;
}

.address-bar input {
    border: 1px solid #DCDCDC;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding: 10px;
    width: 550px;
    height: 25px;
    border-radius: 9px 0px 0px 9px;
    border-right: none;
}

.btn-locate {
    border: 1px solid #DCDCDC;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    padding: 8px;
    border-radius: 0px 9px 9px 0px;
    border-left: none;
    display: flex;
    align-items: center;
}

.btn-locate svg {
    padding: 0px 5px;
    fill: #E21B70;
}

.locate-text {
    color: #39434D;
    font-size: 15px;
}

.locate-text:hover {
    color: #E21B70;
}


.locate {
    width: 40%;
    height: 60px;
    display: flex;
    align-items: center;
}

.body {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-1 h1 {
    margin-top: 0px;
    font-size: 44px;
    font-weight: bold;
    color: #333333;
}

.content-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 310px;
    left: 120px;
}

.btn-find {
    margin-left: 14px;
    border: 1px solid transparent;
    background-color: #E21B70;
    outline: none;
    font-size: 15px;
    padding: 10px 8px;
    border-radius: 9px;
    color: #ffffff;
    font-weight: bold;
}

.btn-find:hover {
    margin-left: 14px;
    border: 1px solid transparent;
    background-color: #C21760;
    outline: none;
    font-size: 15px;
    padding: 12px 12px;
    border-radius: 9px;
    color: #ffffff;
    font-weight: bold;
    transition: ease-in-out 0.1s;
}

.image-container {
    display: flex;
    justify-content: flex-end;
}




.image-container img {
    width: auto;
    height: 600px;
}

section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.section-1 {
    margin-bottom: -140px;
}

.content-2a {
    display: flex;
    align-items: baseline;
    padding: 0px 0px 0px 32px;
    gap: 24px;
    max-width: 1440px;
    margin: auto;
    height: 100%;
    vertical-align: baseline;
}

.content-2a h2 {
    line-height: 1.3125;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 32px;
    vertical-align: baseline;
}

.chef-picture {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;

}

.chef-img img {
    border: 0;
}

.box-content {
    max-width: 700px;
    max-height: 315px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
    padding: 24px;
}

.text-block {
    padding: 10px 0px;
    white-space: break-spaces;
    font-family: 'open sans';
    line-height: 1.5;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}

.text-box {
    position: relative;
    top: -180px;
    left: 110px;
    display: flex;
    justify-content: left;
}

.text-heading {
    font-size: 25px;
    font-weight: 550;
    margin: 0px;
}


.btn-started {
    
    border: 1px solid transparent;
    background-color: #E21B70;
    outline: none;
    font-size: 12px;
    padding: 15px 25px;
    border-radius: 9px;
    color: #ffffff;
}

.btn-started:hover {
    margin-left: 0px;
    border: 1px solid transparent;
    background-color: #C21760;
    outline: none;
    font-size: 12px;
    border-radius: 9px;
    color: #ffffff;
    padding: 18px 30px;
    transition: ease-in-out 0.18s;
}


.content-3a {
    display: flex;
    justify-content: left;
    padding: 0px 0px 0px 32px;
    max-width: 1440px;
    margin: auto;
    height: 100%;
    
}

.content-3a h2 {
    line-height: 1.3125;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 32px;
   color: #333333;
   margin-left: 20px;
}


.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    
  }
  
  .card {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    width: 320px;
    height: 260px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    position: relative;
  }
  
  .card-image img {
    width: 100%;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 9px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .tag a {
    text-decoration: none;
    color: #333368;
  }
  
  .section-3 {
    margin-top: 0;
  }

  .FAQ {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 100px;
    max-width: 1340px;
    align-items: center;
  }

  .FAQ-main h1 {
    font-size: 38px;
    margin-top: 5px;
  }

  .FAQ-p {
    font-size: 16px;
    font-weight: lighter;
  }

  .FAQ-main li {
    list-style-type: none;
  }

  .FAQ-main ul {
    padding: 0;
  }
